body {
    background: #f6f7fb;
    font-family: Arial;
}

.container {
    width: 750px;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

h2, h3 {
    text-align: center;
}

#logBox {
    height: 280px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 10px;
    background: #f9fbff;
}

.log-entry {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

button {
    padding: 9px 13px;
    border-radius: 7px;
    color:blue;
    border: none;
    cursor: pointer;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

#resetBtn {
    background: #d62828;
}

#exportBtn {
    background: #2a9d8f;
}

.warning {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
